<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{settings}">
<body>

<div class="container">

    <th:block layout:fragment="myBreadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/settings}">My Settings</a></li>
        <li class="breadcrumb-item active"><a th:href="@{/settings/account}">Account</a></li>
    </th:block>
    <th:block layout:fragment="otherUserBreadcrumb">
        <li class="breadcrumb-item"><a th:href="@{'/settings/'+${user.username}}"><span th:text="${user.lastName} + ', ' + ${user.firstName}"/></a></li>
        <li class="breadcrumb-item active"><a th:href="@{'/settings/'+${user.username}+'/account'}">Account</a></li>
    </th:block>

    <div layout:fragment="content">

        <!-- ================================== -->
        <!-- User Account                       -->
        <!-- ================================== -->

        <div class="row pt-3 border-top">

            <section class="col-sm-3">
                <h4>Main settings</h4>
                <span th:if="${currentUser.equals(user)}">These are your main account settings.</span>
                <span th:unless="${currentUser.equals(user)}">These account settings are for
                    <span class="font-weight-bold" th:text="${user.firstName} + ' ' + ${user.lastName}"/>.</span>
            </section>

            <!-- The real form is in the modal -->
            <div class="col-sm-9">

                <div class="form-group row">
                    <div class="col-sm-4">
                        <label for="inputUsername" class="font-weight-bold">Username</label>
                        <input disabled type="text" class="form-control" id="inputUsername" placeholder="Username" th:value="*{username}">
                        <small class="form-text text-muted">You cannot change your Username.</small>
                    </div>
                </div>

                <div class="form-group row" style="align-items: center">
                    <div class=" col-sm-4">
                        <label for="inputPassword" class="font-weight-bold">Password</label>
                        <input disabled type="password" class="form-control" id="inputPassword" placeholder="Email" value="******************">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <!-- https://getbootstrap.com/docs/4.0/components/modal/ -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePasswordModal">Change Password</button>
                        <!-- changePasswordModal -->
                        <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="changePasswordModalLabel">Change password</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <!-- Ajax Fragment -->
                                    <div th:replace="fragments/modals/updatePassword :: updatePasswordForm"></div>
                                    <script type="text/javascript" th:inline="javascript">
                                        /*<![CDATA[*/

                                        /*]]>*/
                                    </script>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>