<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{settings}">
<body>

<div class="container">

    <th:block layout:fragment="myBreadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/settings}">My Settings</a></li>
        <li class="breadcrumb-item active"><a th:href="@{/settings/preferences}">Preferences</a></li>
    </th:block>
    <th:block layout:fragment="otherUserBreadcrumb">
        <li class="breadcrumb-item"><a th:href="@{'/settings/'+${user.username}}"><span th:text="${user.lastName} + ', ' + ${user.firstName}"/></a></li>
        <li class="breadcrumb-item active"><a th:href="@{'/settings/'+${user.username}+'/preferences'}">Preferences</a></li>
    </th:block>

    <div layout:fragment="content">

        <!-- ================================== -->
        <!-- Task Preferences                     -->
        <!-- ================================== -->

        <div class="row pt-3 border-top">

            <section class="col-sm-3">
                <h4>Task Preferences</h4>
                These are your task preferences.
            </section>

            <form class="col-sm-9" th:action="@{/user/preferences}" method="post">

                <div class="form-group row">
                    <div class="col-md-6">
                        <label><span class="font-weight-bold">Task sorting</span></label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inputCheckSortAlpha">
                            <label class="form-check-label" for="inputCheckSortAlpha">
                                Sort tasks alphabetically
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>

                <div class="form-group row">
                    <div th:if="${updatePreferencesSuccessMessage}" class="alert alert-success col-md-4 col-sm-6 text-center" role="alert" th:text="${updatePreferencesSuccessMessage}"/>
                </div>
            </form>

        </div>


    </div>



</div>

</body>
</html>