<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{settings}">
<body>

<div class="container">

    <th:block layout:fragment="breadcrumb">
        <li class="breadcrumb-item">
            <a th:href="${currentUser.equals(user)} ? @{/settings} : @{/settings} + '/' + ${user.username}"
               th:text="${user.lastName} + ', ' + ${user.firstName}"/>
        </li>
        <li class="breadcrumb-item active">
            <a th:href="${currentUser.equals(user)} ? @{/settings/profile} : @{/settings} + '/' + ${user.username} + '/profile'"
               th:text="'Profile'"/>
        </li>
    </th:block>

    <div layout:fragment="content">

        <!-- ================================== -->
        <!-- User Account                       -->
        <!-- ================================== -->

        <div class="row pt-3 border-top">

            <section class="col-sm-3">
                <h4>Main settings</h4>
                <span>This information will appear on your profile.</span>
            </section>

            <form class="col-sm-9" th:action="@{'/settings/' + ${user.username} +  '/profile'}" method="post">

                <div class="row" style="align-items: center">
                    <div class="form-group col-sm-5">
                        <label for="inputEmail" class="font-weight-bold">Email</label>
                        <input disabled type="email" class="form-control" id="inputEmail" placeholder="Email" th:value="*{email}">
                    </div>
                    <div class="form-group col-sm-3">
                        <label>&nbsp;</label>
                        <a class="href-form-control" th:href="@{/user/email}">Change Email</a>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4">
                        <label for="inputFirstName" class="font-weight-bold">First name</label>
                        <input type="text" class="form-control" id="inputFirstName" placeholder="First name" th:value="*{firstName}">
                    </div>
                    <span class="help-block col-sm-12">Your first name as displayed on your profile.</span>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4">
                        <label for="inputLastName" class="font-weight-bold">Last name</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="Last name" th:value="*{lastName}">
                    </div>
                    <span class="help-block col-sm-12">Your last name as displayed on your profile.</span>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>

                <div class="form-group row">
                    <div th:if="${updateProfileSuccessMessage}" class="alert alert-success col-md-4 col-sm-6 text-center" role="alert" th:text="${updateProfileSuccessMessage}"/>
                </div>
            </form>

        </div>


    </div>



</div>

</body>
</html>