<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">

    <div th:fragment="editTaskListForm" class="modal fade" id="editTaskListModal" tabindex="-1" role="dialog" aria-labelledby="editTaskListModalLabel" aria-hidden="true">
        <div th:if="${taskList != null}" class="modal-dialog modal-lg" role="document">
            <form id="editTaskListForm" th:object="${taskList}" th:action="@{'/tasklist/'+${taskList.id}}" method="post" autocomplete="off" >
                <input id="editTaskListFormTaskListId" type="hidden" th:field="*{id}"/>
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="search" class="no-border modal-title" id="editTaskListModalLabel" th:field="*{title}"/>
                    </div>
                    <div class="modal-body">
                        <div class="form-check my-2" th:each="task : *{tasks}">
                            <input type="hidden" th:field="*{tasks[__${taskStat.index}__].id}" />
                            <input type="checkbox" class="form-check-input task-list-task-checkbox" th:field="*{tasks[__${taskStat.index}__].completed}" />
                            <input type="search" class="no-border tasks-listItem-update" th:classappend="${task.completed ? 'task-complete text-muted' : ''}" name="tasks" th:field="*{tasks[__${taskStat.index}__].description}" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="editTaskListFormDeleteButton" type="button" class="btn btn-sm btn-light">Delete</button>
                        <button id="editTaskListFormCloseButton" type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

</body>