<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <div class="container">

        <!-- ============================================================================ -->
        <!-- User Settings Fragment                                                       -->
        <!-- ============================================================================ -->

        <div th:fragment="profile">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2"><span th:text="*{lastName}+', '+ *{firstName}"/></h1>
            </div>

            <!--<p><span><i class="fa fa-user"></i></span> <span class="font-weight-bold">Username:</span> <span th:text="*{username}"/></p>-->
            <!--<p><span><i class="fa fa-lock"></i></span> <span class="font-weight-bold">Roles:</span></p>-->
            <!--<ul>-->
                <!--<li th:each="auth : *{authorities}"><span th:text="${auth.id.authority}"/></li>-->
            <!--</ul>-->

            <form th:action="@{/user/settings}" method="post">
                <div class="form-group row">
                    <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-3">
                        <input disabled type="text" class="form-control" id="inputUsername" placeholder="Username" th:value="*{username}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputFirstName" class="col-sm-2 col-form-label">First name</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="inputFirstName" placeholder="First name" th:value="*{firstName}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputLastName" class="col-sm-2 col-form-label">Last name</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="inputLastName" placeholder="Last name" th:value="*{lastName}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-3">
                        <input disabled type="email" class="form-control" id="inputEmail" placeholder="Email" th:value="*{email}">
                    </div>
                    <div class="col-sm-2">
                        <a th:href="@{/user/email}">Change Email</a>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-3">
                        <a th:href="@{/user/password}">Change password</a>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- ============================================================================ -->
        <!-- User Preferences Fragment                                                    -->
        <!-- ============================================================================ -->

        <div th:fragment="preferences">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Preferences</h1>
            </div>
            TODO
        </div>

    </div>

</body>
</html>