<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body th:object="${currentUser}">

<div th:replace="fragments/nav :: top_navbar"></div>

<div role="main" class="container-fluid">

    <div class="root-div">
        <div class="d-flex justify-content-center row my-3">
            <div class="col-6">
                <input type="text" class="form-control" id="newTaskDescription" placeholder="Take a note..."/>
            </div>
        </div>
        <div class="d-flex justify-content-center row">
            <div th:each="taskList : ${taskListRepo.findByCurrentUser()}" class="task-list-card card card-body bg-light col-lg-2 col-md-4 col-sm-6 m-2 p-2">
                <input type="hidden" name="taskListId" th:value="${taskList.id}"/>
                <span class="font-weight-bold task-list-title mb-2" th:text="${taskList.title}" />
                <div class="checkbox task-list-task-wrapper" th:each="task : ${taskList.tasks}">
                    <input type="checkbox" value="" th:checked="${task.completed}"/><label class="pl-2 task-list-task-description" th:text="${task.description}"/>
                </div>
            </div>
        </div>

        <!-- Ajax Fragment (Pop-up Modal) -->
        <div th:replace="fragments/modals/editTaskList :: editTaskListForm"></div>

    </div>

</div>

<div th:replace="fragments/footer"></div>

</body>
</html>