<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body th:object="${currentUser}">

<div th:replace="fragments/nav :: top_navbar"></div>

<div role="main" class="container">
    <div class="root-div">
        <h1><span th:text="'Welcome ' +  *{firstName}"/></h1>
        <div class="card card-body bg-light">
            <p><span><i class="fa fa-user"></i></span> <span class="font-weight-bold" th:text="*{username}"/></p>
            <p><span><i class="fa fa-lock"></i></span> <span class="font-weight-bold">Roles:</span></p>
            <ul>
                <li th:each="auth : *{authorities}"><span th:text="${auth.id.authority}"/></li>
            </ul>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>