<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body th:object="${currentUser}">

<div th:replace="fragments/nav :: top_navbar"></div>

<div role="main" class="container-fluid">
    <div class="root-div">

        <div th:replace="fragments/nav :: settings_left_nav"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <head th:replace="fragments/user_settings :: profile"></head>
        </main>

    </div>
</div>

<div th:replace="fragments/footer"></div>

</body>
</html>