# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.managing.db.html
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html#command-options-general-rdsdbinstance

option_settings:
  aws:rds:dbinstance:
    DBEngine: mysql
    DBEngineVersion: 8.0 
    DBAllocatedStorage: 100
    DBInstanceClass: db.t2.micro