<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{settings}">
<body>

<div class="container">

    <th:block layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/admin/users}">Administration</a></li>
        <li class="breadcrumb-item"><a th:href="@{/admin/users}">Users</a></li>
    </th:block>

    <div layout:fragment="content">

        <div class="row">
            <div class="col-sm-10">
                <h4>Users</h4>
                <form class="form-inline" th:action="@{/admin/users}" method="get">
                    <div class="form-group mr-sm-3 mb-2">
                        <label for="inputSearch" class="sr-only">Password</label>
                        <input type="text" class="form-control" id="inputSearch" placeholder="Search terms" name="inputSearch" th:value="${inputSearch}">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </form>
            </div>
            <!--<div class="col-sm-2">-->
                <!--<div class="d-flex align-items-end flex-column bd-highlight pb-2" style="height: 100%;">-->
                    <!--<button type="submit" class="mt-auto btn btn-primary">Create User</button>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <div th:if="${searchResults != null}" class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Email
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${searchResults}">
                    <th>
                        <a th:href="@{/user/${user.username}}"><span th:text="${user.firstName} + ' ' + ${user.lastName}"></span></a>
                    </th>
                    <td>
                        <span th:text="${user.username}"></span>
                    </td>
                    <td>
                        <span th:text="${user.email}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>

</body>
</html>