<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{settings}">
<body>

<div class="container">

    <th:block layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/admin/users}">Administration</a></li>
        <li class="breadcrumb-item"><a th:href="@{/admin/users}">Users</a></li>
    </th:block>

    <div layout:fragment="content">

        <div class="row">
            <div class="col-sm-10">
                <h4>Users</h4>
                <form class="form-inline" th:action="@{/admin/users/search}" method="get">
                    <div class="form-group mr-sm-3 mb-2">
                        <label for="inputSearch" class="sr-only">Password</label>
                        <input type="text" class="form-control" id="inputSearch" placeholder="Search terms">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </form>

                <!--<form class="form-inline" th:action="@{/admin/users/search}" method="get">-->
                    <!--<div class="form-group mr-sm-3 mb-2">-->
                        <!--<label for="inputSearch">Find users by search terms.</label>-->
                        <!--<div class="input-group">-->
                            <!--<input type="text" class="form-control" id="inputSearch" placeholder="Search terms">-->
                            <!--<button type="submit" class="mb-2 input-group-btn btn btn-primary">Search</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Create User</button>
            </div>
        </div>

        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Email
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.searchedUsers">
                    <th>
                        <a ng-href="/user/{{user.username}}">{{user.firstName}} {{user.lastName}}</a>
                    </th>
                    <td>
                        {{user.username}}
                    </td>
                    <td>
                        {{user.email}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>

</body>
</html>